@import '../../../../../styles//variables.module.scss';

.sideBar {
  height: 100%;

  .sideBarContent {
    height: 100%;
    display: flex;
    flex-direction: column;

    .menu {
      flex-grow: 1;
    }
  }
}
