@import '../../../../styles.scss';

.authLayout {
  background-color: $pure-white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;

  .formContainer {
    padding: 0.5rem 1rem;
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .form {
      width: 50%;
    }
  }

  .illustration {
    width: 50%;
    height: 100%;
    object-position: left;
    object-fit: cover;
  }
}
