@import '../../../../styles/variables.module.scss';

.dashboardLayout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;

  .aside {
    height: 100%;
  }

  .content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    .header {
      height: 3.375rem;
    }
    .main {
      flex-grow: 1;
      overflow-y: auto;

      display: flex;
      flex-direction: column;

      .content {
        flex-grow: 1;
        padding: 2rem 1.5rem;
      }
    }
  }
}
